<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <img src="/canvetlogobeyaz.png" alt="Can Logo" />
        </div>

        <div class="footer-info">
            <p>
                <i class="fas fa-map-marker-alt"></i>
                Namık Kemal Mahallesi, Arap İbrahim Paşa Cd. NO:98/A, 17010 Çanakkale Merkez/Çanakkale
            </p>
            <a href="tel:+90 542 779 19 65"><i class="fas fa-phone-alt"></i> 0286 212 78 77</a>
        </div>

        <div class="footer-social">
            <a href="https://www.facebook.com/CAN.VETveteriner/?locale=tr_TR"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/canvetveterinerklinigi/"><i class="fab fa-instagram"></i></a>
            <a href="https://share.google/O31fc6nVx3KN56NcL"><i class="fab fa-google"></i></a>
        </div>
    </div>
</footer>